*

!*.py
!.github
!.github/**
!config
!config/**
!data
!data/**
!tests
!tests/**
!plugins
!plugins/**
!src
!src/**
!requirements.txt
!.gitignore
!.dockerignore
!README.md

.env
.idea
venv
**/logs
config/config.json
*.swp
*.swo
__pycache__
