*

!venv
!.idea
!*.py
!config
!config/**
!audio
!audio/**
!data
!data/**
!tests
!tests/**
!src
!src/**
!requirements.txt
!tg_bot.sql
!.gitignore
!README.md

src/logs
config/config.json
*.swp
*.swo
__pycache__
